---
http_interactions:
- request:
    method: get
    uri: https://api.zype.com/videos?app_key=XWny5j0V89yb1uZu6SI_D95EADV5FzBYldE9Ny0_q0GOzcWLiruPyhN-f2Pcyohf&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c0792deab895cdace0ed2b44644017ce"'
      X-Iinfo:
      - 10-121538339-121538410 NNNN CT(0 0 0) RT(1507507491022 200) q(0 0 0 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"response":[{"_id":"56a7b83e69702d2f83abdcb7","active":true,"categories":[{"_id":"56a7b83e69702d2f83acdcb7","category_id":"56a7b81d69702d2f8329d3b7","title":"YouTube
        Channel","value":["Saturday Night Live"]}],"country":null,"created_at":"2016-01-26T13:17:34.482-05:00","custom_attributes":{},"description":"Kyle
        Mooney puts his interviewing skills to the test at the circus. Aired 3/28/15","disable_at":null,"discovery_url":null,"duration":193,"enable_at":null,"episode":null,"featured":false,"foreign_id":null,"friendly_title":null,"keywords":[],"mature_content":false,"on_air":false,"ott_description":null,"pass_required":false,"preview_ids":[],"program_guide_id":null,"published_at":"2015-03-29T16:21:19.000-04:00","purchase_price":"1.0","purchase_required":false,"rating":0.0,"related_playlist_ids":[],"rental_duration":1,"rental_price":"1.0","rental_required":false,"request_count":0,"season":null,"site_id":"56a7b4a369702d1927000000","source_id":null,"status":"created","subscription_ads_enabled":true,"subscription_required":true,"title":"Circus
        - Saturday Night Live","updated_at":"2017-10-08T18:42:02.942-04:00","zobject_ids":[],"crunchyroll_id":null,"hulu_id":null,"mrss_id":null,"kaltura_id":null,"thumbnails":[{"aspect_ratio":1.33,"height":90,"name":null,"url":"https://i.ytimg.com/vi/bj3D2RwyhuU/default.jpg","width":120},{"aspect_ratio":1.78,"height":180,"name":null,"url":"https://i.ytimg.com/vi/bj3D2RwyhuU/mqdefault.jpg","width":320},{"aspect_ratio":1.33,"height":360,"name":null,"url":"https://i.ytimg.com/vi/bj3D2RwyhuU/hqdefault.jpg","width":480},{"aspect_ratio":1.33,"height":480,"name":null,"url":"https://i.ytimg.com/vi/bj3D2RwyhuU/sddefault.jpg","width":640},{"aspect_ratio":1.78,"height":720,"name":null,"url":"https://i.ytimg.com/vi/bj3D2RwyhuU/maxresdefault.jpg","width":1280}],"transcoded":false,"vimeo_id":null,"youtube_id":"bj3D2RwyhuU","short_description":"Kyle
        Mooney puts his interviewing skills to the test at the circus. Aired 3/28/15"},{"_id":"56a7b83069702d2f8309d9b7","active":true,"categories":[{"_id":"56a7b83069702d2f830ad9b7","category_id":"56a7b81d69702d2f8329d3b7","title":"YouTube
        Channel","value":["Saturday Night Live"]}],"country":null,"created_at":"2016-01-26T13:17:20.712-05:00","custom_attributes":{},"description":"When
        the popular kids (Beck Bennett, Vanessa Bayer, Kate McKinnon, Sasheer Zamata,
        Jon Rudnitsky) try to play a trick on the new girl (Ronda Rousey), she turns
        the tables on them.\n\nSubscribe to the SNL channel for more clips: http://goo.gl/24RRTv\n\nDownload
        the SNL App for free: http://www.nbc.com/saturday-night-live/app\n\nFor more
        SNL 40th Anniversary Special: http://goo.gl/gLyPTc\n\nGet more SNL on Hulu
        Plus: http://www.hulu.com/saturday-night-live\n\nGet more SNL: http://www.nbc.com/saturday-night-live\nFull
        Episodes: http://www.nbc.com/saturday-night-live/video\n\nLike SNL: https://www.facebook.com/snl\nFollow
        SNL: https://twitter.com/nbcsnl\nSNL Tumblr: http://nbcsnl.tumblr.com/\nSNL
        Instagram: http://instagram.com/nbcsnl \nSNL Google+: https://plus.google.com/+SaturdayNightLive/
        \nSNL Pinterest: http://www.pinterest.com/nbcsnl/","disable_at":null,"discovery_url":null,"duration":260,"enable_at":null,"episode":null,"featured":false,"foreign_id":null,"friendly_title":null,"keywords":[],"mature_content":false,"on_air":false,"ott_description":null,"pass_required":false,"preview_ids":[],"program_guide_id":null,"published_at":"2016-01-24T03:59:03.000-05:00","purchase_price":null,"pu[...]
