---
http_interactions:
- request:
    method: get
    uri: https://api.zype.com/videos/56a7b83169702d2f8336d9b7?app_key=XWny5j0V89yb1uZu6SI_D95EADV5FzBYldE9Ny0_q0GOzcWLiruPyhN-f2Pcyohf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"06de3b74ef409c6eff39411d18253be4"'
      X-Iinfo:
      - 3-63672851-63672899 NNNN CT(30 27 0) RT(1507406321958 173) q(0 0 0 -1) r(1
        1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"_id":"56a7b83169702d2f8336d9b7","active":true,"categories":[{"_id":"56a7b83169702d2f8337d9b7","category_id":"56a7b81d69702d2f8329d3b7","title":"YouTube
        Channel","value":["Saturday Night Live"]}],"country":null,"created_at":"2016-01-26T13:17:21.624-05:00","custom_attributes":{},"description":"Doug
        (Ryan Gosling) and Gina (Vanessa Bayer) make everyone at the neighborhood
        holiday party uncomfortable when they demand to meet the real Santa.\n\nSubscribe
        to the SNL channel for more clips: http://goo.gl/24RRTv\n\nDownload the SNL
        App for free: http://www.nbc.com/saturday-night-live/app\n\nFor more SNL 40th
        Anniversary Special: http://goo.gl/gLyPTc\n\nGet more SNL on Hulu Plus: http://www.hulu.com/saturday-night-live\n\nGet
        more SNL: http://www.nbc.com/saturday-night-live\nFull Episodes: http://www.nbc.com/saturday-night-live/video\n\nLike
        SNL: https://www.facebook.com/snl\nFollow SNL: https://twitter.com/nbcsnl\nSNL
        Tumblr: http://nbcsnl.tumblr.com/\nSNL Instagram: http://instagram.com/nbcsnl
        \nSNL Google+: https://plus.google.com/+SaturdayNightLive/ \nSNL Pinterest:
        http://www.pinterest.com/nbcsnl/","disable_at":null,"discovery_url":null,"duration":301,"enable_at":null,"episode":null,"featured":false,"foreign_id":null,"friendly_title":null,"keywords":[],"mature_content":false,"on_air":false,"ott_description":null,"pass_required":false,"preview_ids":[],"program_guide_id":null,"published_at":"2015-12-06T04:50:06.000-05:00","purchase_price":null,"purchase_required":false,"rating":0.0,"related_playlist_ids":[],"rental_duration":null,"rental_price":null,"rental_required":false,"request_count":0,"season":null,"site_id":"56a7b4a369702d1927000000","source_id":null,"status":"created","subscription_ads_enabled":true,"subscription_required":false,"title":"Santa
        Baby - SNL","updated_at":"2017-09-25T19:23:20.156-04:00","zobject_ids":[],"crunchyroll_id":null,"hulu_id":null,"mrss_id":null,"kaltura_id":null,"thumbnails":[{"aspect_ratio":1.33,"height":90,"name":null,"url":"https://i.ytimg.com/vi/CkrpvCs-kfE/default.jpg","width":120},{"aspect_ratio":1.78,"height":180,"name":null,"url":"https://i.ytimg.com/vi/CkrpvCs-kfE/mqdefault.jpg","width":320},{"aspect_ratio":1.33,"height":360,"name":null,"url":"https://i.ytimg.com/vi/CkrpvCs-kfE/hqdefault.jpg","width":480},{"aspect_ratio":1.33,"height":480,"name":null,"url":"https://i.ytimg.com/vi/CkrpvCs-kfE/sddefault.jpg","width":640},{"aspect_ratio":1.78,"height":720,"name":null,"url":"https://i.ytimg.com/vi/CkrpvCs-kfE/maxresdefault.jpg","width":1280}],"transcoded":false,"vimeo_id":null,"youtube_id":"CkrpvCs-kfE","short_description":"Doug
        (Ryan Gosling) and Gina (Vanessa Bayer) make everyone at the neighborhood
        holiday party uncomfortable when they demand to meet the real Santa.\n\nSubscribe
        to the SNL channel for more clips: http://goo.gl/24RRTv\n\nDownload the SNL
        App for free: ..."}}'
  recorded_at: Sat, 07 Oct 2017 19:58:43 GMT
recorded_with: VCR 3.0.3
